absl-py 
flax @ git+https://github.com/google/flax#egg=flax 
gin-config 
immutabledict 
librosa 
mir_eval 
note_seq 
numpy 
pretty_midi 
scikit-learn 
scipy 
seqio @ git+https://github.com/google/seqio#egg=seqio
t5 
t5x @ git+https://github.com/google-research/t5x#egg=t5x
tensorflow_cpu==2.18.0
tensorflow-text==2.18.0
tensorflow-datasets 